:root {
  --anchor-color: #2285ee;
  --thumnail-border: #3892f3;
  /* --bs-body-bg-rgb: 255, 255, 255;
  --bs-primary-rgb: 52, 89, 230;
  --bd-accent-rgb: 255,228,132;
  --bd-violet-rgb: 112.520718,44.062154,249.437846;
  --bd-pink-rgb: 214,51,132; */
}

/* body {
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%) !important;
} */

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.thumbnail,
.thumbnail-active {
  width: 80px;
  height: 80px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  object-fit: contain;
  object-position: center;
}

.thumbnail-active {
    border: 2px solid var(--thumnail-border) !important;
}

.thumbnail:hover {
  opacity: 0.7;
}


.main-product-image {
  max-height: 450px;
  max-width: 100%;
}

.card-image {
  max-height: 200px;
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

.card {
  box-shadow: 0px 2px 3px rgb(200, 200, 200);
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
}

.on-sale-badge {
  position: absolute;
  top: 10px;
  right: 73px;
  z-index: 1;
}

.on-sale-percentage {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

a {
  color: var(--anchor-color);
  text-decoration: none !important;
}

img {
  transition: opacity 0.3s ease;
}

img:hover {
  opacity: 0.85;
  transform: scale(1.01);
}

.initial-price {
  text-decoration: line-through;
}

th {
  font-size: 1.3rem;
}

td {
  font-size: 1.1rem;
}

.carousel-homepage {
  margin-left: 0%;
  width: 100%;
}


.carousel-caption {
  left: 0% !important;
  right: 0% !important;
}

.carousel-caption > h3 {
  color: #ffffff;
}

.carousel-item {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item > a > img {
  max-width: 50%;
  max-height: 100%;
  margin-left: 30%;
}

.nav-logout {
  color: #f64040 !important;
}

.nav-logout:hover {
  background-color: #f64040 !important;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .card-image {
    max-height: 300px;
    height: 300px;
  }

  .carousel-item {
    height: 350px;
  }
}